<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!--<h2>About</h2>
        <hr class="thick">
      </div>
    </div>
    <div class="row">
    	<center><p>Education Frontiers, located in Bayreuth, offers language teaching as well as professional development and training programs for teachers and educators.</p></center>
        <br><br>
    -->
      <div class="col-lg-6 col-lg-offset">
        <p><b>Looking for a German class?</b><br><br>
        We offer not only language classes, but teaching tailored to your needs. Of course, we cover the Common European Framework of Reference for Languages (CEFR). But if you already have a specific idea about how exactly you would like you journey to go, we will find a way to make it happen.</p>
      </div>
      <div class="col-lg-6">
        <p>
        <b>Synchronous and Asynchronous Formats</b><br><br>
        Not only teaching, but also professional development can be conducted online. Digital learning content is just as much a part of our portfolio as professional and appealing online seminars. What you should never forget: All methods are a means to an end. We would be happy to develop a customised concept for you. Get in touch with us now! </p>
      </div>
    </div>
  <br>
  <div class="row">
  	<img class="img" src="./img/portfolio/formate.jpeg" alt="about-pic" style="max-width: 100%;"/>
  </div>  
  </div>
</section>
