<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Looking for a German class?</b><br><br>
        We offer not only language classes, but teaching tailored to your needs. Of course, we cover the Common European Framework of Reference for Languages (CEFR). But if you already have a specific idea about how exactly you would like you journey to go, we will find a way to make it happen.</p>
      </div>
      <div class="col-lg-4">
        <p>
        <b>Synchrone und Asynchrone Formate</b><br><br>
        Nicht nur Unterricht, auch Weiterbildungen lassen sich online durchführen. Die Bereitstellung digitaler Lerninhalte gehört genau so zu unserem Portfolio wie professionelle und ansprechende Online-Seminare. Was man dabei nie vergessen sollte: Alle Wege sind Mittel zum Zweck. Gern erarbeiten wir ein für Sie passendes Konzept. Nehmen Sie jetzt Kontakt mit uns auf! </p>
      </div>
    </div>
  <br>
  <div class="row">
  	<img class="img" src="./img/portfolio/formate.jpeg" alt="about-pic" style="max-width: 100%;"/>
  </div>  
  </div>
</section>
