<!-- Refernce Section -->
<section id="references">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What people are saying ...</h2>
        <hr class="thick">
      </div>
    </div>
    
    <br><br>
   
    
    {% include comment_slideshow.html %}
    
    
    <br><br>
    
    
    <div class="row">
    <p><center>Our partners</center></p>
    <div class="image-container">
        <img src="./img/customers/logo-sprachenzentrum.png" alt="logo-sprachenzentrum">
        <img src="./img/customers/logo-twi.png" alt="logo-twi">
        <img src="./img/customers/logo-ubt.png" alt="logo-ubt">
        <img src="./img/customers/logo-vhs.png" alt="logo-vhs">
    </div>
  </div>

  </div>
</section>
