<!-- Standing Section -->
<section class="success" id="standing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What we stand for ...</h2>
        <hr class="thick">
      </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
    	<img class="img" src="./img/erik.jpeg" alt="profile-pic" style="max-width: 60%;">
    </div>
    <div class="col-lg-4">
        <p>
        Language skills are <i>the</i> basis for a happy and successful life in Germany. Because we 		want to make this possible for many people in particular, <b>Education Frontiers</b> is constantly striving for even better teaching, even better conditions for all those who live and work in German-speaking countries and a future worth living for all of us.
        </p><br>
	</div>
    </div>
  </div>
</section>
