<!-- Standing Section -->
<section class="success" id="standing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What we stand for ...</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
    	<img class="img" src="./img/portfolio/erik.jpeg" alt="profile-pic" style="max-width: 60%;">
    </div>
    <div class="col-lg-4">
        <p>
Wir stehen für die Überzeugung, dass Sprachkenntnis <i>die</i> Voraussetzung für ein glückliches und erfolgreiches Leben in Deutschland ist. Weil wir besonders vielen Menschen dies ermöglichen wollen, streben wir stets danach, unsere Lehre zu verbessern und unseren Hebel über Multiplikatoren zu vergrößern.
        </p><br>
	</div>
    </div>
  </div>
</section>
